.footer{
  margin-top: 32px;
  padding: 16px;
  display: flex;

  flex-wrap: wrap;

  background: #6278F7 url("/public/imgs/fundo.png") no-repeat right top fixed;
  justify-content: space-between;
  align-items: center;
  
}

.footer nav{
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
}

.footer h6{
  font-size: 20px;
  color: aliceblue;
  font-weight: 500;
}
